.header {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid var(--primary);
    align-items: center;
    padding: 10px;
}

.logo {
	font-family: Hirosaki-Regular;
	font-size: xx-large;
	color: var(--primary);
	display: flex;
	align-items: flex-end;
}

.logo img {
	max-width: 50px;
	object-fit: contain;
}
